<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <!-- enableOnBackInvokedCallback=true: без него Android 13+ ИГНОРИРУЕТ наш
       OnBackInvokedCallback (predictive back) и back-жест не доходит до приложения. -->
  <application android:label="RiotGalaxy" android:allowBackup="true"
               android:enableOnBackInvokedCallback="true"></application>
</manifest>
